{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>Weather Forecast</h1>
    <div class="weather-card">
        <h2>{{ title }}, {{country}}</h2>

        <p>Weather: {{ status }}</p>
        <p>Temperature: {{ temp }} &deg;</p>
        <p>Feels like {{ feels_like }} &deg;</p>

        <form action="/weather">
            <input type="text" name="city" id="city" placeholder="Enter a City" />
            <button type="submit">Submit</button>
        </form>

        <div id="map" style="height: 300px;"></div>
    </div>
</div>

<script>

    var lat = "{{lat_coord}}";
    var lon = "{{long_coord}}";
    var map = L.map('map').setView([lat,lon], 10); // The coordinates and zoom level collected from api

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 15,
    }).addTo(map);
</script>

{% endblock %}